
# globals
variable "project" {}
variable "venue" {}
variable "counter" {}

variable "shared_credentials_file" {
  default = "~/.config/gcloud/gcp-credentials.json"
}

variable "region" {
  default = "__region__"
}

