
# globals
variable "project" {
  description = "Name of GCP account project"
  default = "__project__"
}

variable "venue" {
  description = "e.g. ops, dev, test, gerald"
  default = "test"
}

variable "counter" {
  description = "e.g. 1, 2, 3"
  default = 1
}

variable "credentials_file_path" {
  description = "Path to service account credentials (.json)"
  default = "~/.config/gcloud/configurations/config_default"
}

variable "user" {
  description = "Username for ssh login"
  default = "ops"
}

variable "password" {
  description = "Passphrase for ssh key pair"
  default = ""
}

variable "public_key_path" {
  description = "Path to file containing public key"
  default     = "__path_to_public_key__"
}

variable "private_key_path" {
  description = "Path to file containing private key"
  default     = "__path_to_private_key__"
}

variable "region" {
  default = "__region__"
}

variable "zone" {
  default = "__zone__"
}

variable "service_account" {
  description = "GCP service account email"
  default     = "__service_account__"
}

variable "network" {
  description = "Name of VPC network, if not leave 'default'"
  default     = "default"
}

# mozart vars
variable "mozart" {
  type = "map"
  default = {
    name = "mozart"
    image = "__mozart_image_id__"
    machine_type = "n1-standard-1"
    data = "/data"
    data_dev = "/dev/xvdb"
    data_dev_size = 50
    data2 = "/data2"
    data2_dev = "/dev/xvdc"
    data2_dev_size = 50    
  }
}

# metrics vars
variable "metrics" {
  type = "map"
  default = {
    name = "metircs"
    image = "__metrics_image_id__"
    machine_type = "n1-standard-1"
    data = "/data"
    data_dev = "/dev/xvdb"
    data_dev_size = 100
  } 
}

# grq vars
variable "grq" {
  type = "map"
  default = {
    name = "grq"
    image = "__grq_image_id__"
    machine_type = "n1-standard-1"
    data = "/data"
    data_dev = "/dev/xvdb"
    data_dev_size = 100
  } 
}

# factotum vars
variable "factotum" {
  type = "map"
  default = {
    name = "factotum"
    image = "__factotum_image_id__"
    machine_type = "n1-standard-1"
    docker_storage_dev = "/dev/xvdb"
    docker_storage_dev_size = 50
    data = "/data"
    data_dev = "/dev/xvdc"
    data_dev_mount = "/dev/nvme2n1"
    data_dev_size = 300
  } 
}

# ci vars
variable "ci" {
  type = "map"
  default = {
    name = "ci"
    image = "__ci_image_id__"
    machine_type = "n1-standard-1"
    docker_storage_dev = "/dev/xvdb"
    docker_storage_dev_size = 50
    data = "/data"
    data_dev = "/dev/xvdc"
    data_dev_mount = "/dev/nvme2n1"
    data_dev_size = 100
  } 
}

# autoscale vars
variable "autoscale" {
  type = "map"
  default = {
    name = "autoscale"
    image = "__autoscale_image_id__"
    machine_type = "n1-standard-1"
    docker_storage_dev = "/dev/xvdb"
    docker_storage_dev_size = 50
    data = "/data"
    data_dev = "/dev/xvdc"
    data_dev_mount = "/dev/nvme2n1"
    data_dev_size = 300
  } 
}
