# globals
variable "project" {}
variable "venue" {}
variable "counter" {}

variable "shared_credentials_file" {
  default = "~/.aws/credentials"
}

variable "profile" {
  default = "default"
}

variable "key_name" {
  default = "__key_name__"
}

variable "private_key_file" {
  default = "__private_key_file__"
}

variable "region" {
  default = "__region__"
}

variable "az" {
  default = "__az__"
}

variable "subnet_id" {
  default = "__subnet_id__"
}

variable "vpc_security_group_ids" {
  type = "list"
  default = [
    "__sg_id1__",
    "__sg_id2__",
    "__sg_id3__"
  ]
}


# leaflet_web_server vars
variable "pass_phrase" {
  default = "__pass_phrase__"
}

variable "leaflet" {
  type = "map"
  default = {
    name = "leaflet_ts_server"
    ami = "__verdi_ami_id__"
    instance_type = "m4.2xlarge"
    docker_storage_dev = "/dev/xvdb"
    docker_storage_dev_size = 50
    data = "/data"
    data_dev = "/dev/xvdc"
    data_dev_mount = "/dev/nvme2n1"
    data_dev_size = 500
  }
}
